# Dependencies
node_modules
.pnpm-store

# Env
.env
.env.*.local

# Avoid picking up external local repo
mobile

# Builds
.vercel
.expo
dist
.next
build

# Mac
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Prisma
prisma/*.db


