<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcxAz3_At4q5PuptM1G15kR7ObozztDMI</string>
	<key>GCM_SENDER_ID</key>
	<string>1040622738029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adhderapp.ios.Adhder</string>
	<key>PROJECT_ID</key>
	<string>adhder-4ab3c</string>
	<key>STORAGE_BUCKET</key>
	<string>adhder-4ab3c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040622738029:ios:9074e3a6d2fe078f697d64</string>
</dict>
</plist>
